In [1]:
import math

import matplotlib.lines as mlines
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Read in the Iris data
iris_df = pd.read_csv("./../data/iris.txt", sep = ",")

# Format floats to display two decimal places
pd.options.display.float_format = '{:,.3f}'.format

# Split the data into groups seperated by label
setosa = iris_df.loc[iris_df["class"] == "Iris-setosa"]
versicolor = iris_df.loc[iris_df["class"] == "Iris-versicolor"]
virginica = iris_df.loc[iris_df["class"] == "Iris-virginica"]

In [2]:
setosa.describe()

       sepal_length  sepal_width  petal_length  petal_width
count         50.00        50.00         50.00        50.00
mean           5.01         3.42          1.46         0.24
std            0.35         0.38          0.17         0.11
min            4.30         2.30          1.00         0.10
25%            4.80         3.12          1.40         0.20
50%            5.00         3.40          1.50         0.20
75%            5.20         3.68          1.58         0.30
max            5.80         4.40          1.90         0.60